In [153]:
import pandas as pd
import numpy as np

In [154]:
team_hitter = []
for i in  range(5):
    team_hitter.append(pd.read_csv(f'2020빅콘테스트_스포츠투아이_제공데이터_팀타자_20{16+i}.csv'))
hitter_data = pd.concat([team_hitter[i] for i in range(len(team_hitter))])

In [155]:
team_pitcher = []
for i in  range(5):
    team_pitcher.append(pd.read_csv(f'2020빅콘테스트_스포츠투아이_제공데이터_팀투수_20{16+i}.csv'))
pitcher_data = pd.concat([team_pitcher[i] for i in range(len(team_hitter))])

In [156]:
hitter = []
for i in  range(5):
    hitter.append(pd.read_csv(f'2020빅콘테스트_스포츠투아이_제공데이터_개인타자_20{16+i}.csv', encoding="cp949"))
hitter_p_data = pd.concat([hitter[i] for i in range(len(hitter))])

In [157]:
team = []
for i in  range(5):
    team.append(pd.read_csv(f'2020빅콘테스트_스포츠투아이_제공데이터_등록선수_20{16+i}.csv', encoding="cp949"))
team_data = pd.concat([team[i] for i in range(len(hitter))])

In [158]:
game = []
for i in  range(5):
    game.append(pd.read_csv(f'2020빅콘테스트_스포츠투아이_제공데이터_경기_20{16+i}.csv', encoding="cp949"))
game_data = pd.concat([game[i] for i in range(len(hitter))])

In [159]:
#데이터 추가
hitter_data["strike_out_rate"] = hitter_data["KK"] / hitter_data["AB"]
# hitter_data["4ball_rate"] = 
# hitter_data["ERA_mean"] =

In [160]:
batting_average = hitter_data.groupby("T_ID")["RUN"].sum() / hitter_data.groupby("T_ID")["AB"].sum()

In [161]:
four_ball_average = hitter_p_data.groupby('P_ID')["BB"].sum() / hitter_p_data.groupby('P_ID')["G_ID"].count() #선수의 경기당 볼넷 개수
steal = hitter_p_data.groupby('P_ID')["SB"].sum() / hitter_p_data.groupby('P_ID')["G_ID"].count()
RBI = hitter_p_data.groupby('P_ID')["RBI"].sum() / hitter_p_data.groupby('P_ID')["G_ID"].count()

In [162]:
for_team = pd.DataFrame(four_ball_average)
for_team = pd.concat([for_team,steal,RBI],axis=1)

for_team.columns = ["four_ball","steal","RBI"]
team_data = pd.merge(team_data,for_team, on="P_ID",how="left")


team_data = team_data.dropna(axis=0)
team_data

         GDAY_DS T_ID   P_ID ENTRY_YN  four_ball     steal       RBI
0       20160401   HH  60404        Y   0.090909  0.000000  0.030303
1       20160401   HH  60667        Y   0.093750  0.000000  0.125000
2       20160401   HH  60757        Y   0.000000  0.000000  0.000000
4       20160401   HH  60768        N   0.000000  0.000000  0.000000
5       20160401   HH  60805        Y   0.146341  0.000000  0.073171
...          ...  ...    ...      ...        ...       ...       ...
520326  20200719   LG  79140        Y   0.000000  0.000000  0.000000
520327  20200719   LG  79150        Y   0.227053  0.101449  0.227053
520328  20200719   LG  79192        N   0.218861  0.030249  0.597865
520329  20200719   LG  79617        N   0.000000  0.000000  0.000000
520330  20200719   LG  79825        Y   0.000000  0.000000  0.000000

[373551 rows x 7 columns]

In [163]:
hitter_data["AVG"] = hitter_data["HIT"] / hitter_data["AB"]
all_data = hitter_data.drop(["G_ID",'HEADER_NO', 'TB_SC', 'PA', 'AB',
       'RBI', 'RUN', 'HIT', 'H2', 'H3', 'HR', 'SB', 'CS', 'SH', 'SF', 'BB',
       'IB', 'HP', 'KK', 'GD', 'ERR', 'LOB', 'P_HRA_RT', 'P_AB_CN', 'P_HIT_CN',
       'strike_out_rate'],axis=1)

In [164]:
four_ball = team_data.groupby(["T_ID","GDAY_DS"])["four_ball"].mean() #팀과 게임 날짜를 기준으로 선수들의 4구개수의 평균을 구함
steal = team_data.groupby(["T_ID","GDAY_DS"])["steal"].mean() 
RBI = team_data.groupby(["T_ID","GDAY_DS"])["RBI"].mean()

In [165]:
all_data = pd.merge(all_data,four_ball, on=["T_ID","GDAY_DS"], how="left")
all_data = pd.merge(all_data,steal, on=["T_ID","GDAY_DS"], how="left")
all_data = pd.merge(all_data,RBI, on=["T_ID","GDAY_DS"], how="left")
all_data

       GDAY_DS T_ID VS_T_ID       AVG  four_ball     steal       RBI
0     20160401   LG      HH  0.214286   0.118907  0.022351  0.203505
1     20160401   HH      LG  0.282609   0.121470  0.017394  0.171436
2     20160401   NC      HT  0.300000   0.105973  0.024373  0.148667
3     20160401   HT      NC  0.235294   0.120449  0.025280  0.169779
4     20160401   SK      KT  0.277778   0.099902  0.022982  0.152071
...        ...  ...     ...       ...        ...       ...       ...
6395  20200719   LT      SS  0.206897   0.145707  0.023671  0.182600
6396  20200719   HT      OB  0.250000   0.136936  0.022748  0.196044
6397  20200719   OB      HT  0.297297   0.140497  0.019720  0.191330
6398  20200719   SK      WO  0.200000   0.153370  0.030964  0.183689
6399  20200719   WO      SK  0.212121   0.128228  0.024734  0.183377

[6400 rows x 7 columns]

In [166]:
all_data[all_data.isnull().any(axis=1)] # 2016 KT선수들은 어디감?
all_data = all_data.dropna(axis=0)
all_data2 = all_data.drop(["AVG"], axis=1)

In [167]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
all_data2["T_ID"] = le.fit_transform(all_data2["T_ID"])
all_data2["VS_T_ID"] = le.fit_transform(all_data2["VS_T_ID"])

In [168]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(all_data2,all_data["AVG"], test_size=0.2, random_state=42)

In [169]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_jobs=-1)
rf.fit(X_train,y_train)
result = rf.predict(X_test)

In [170]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,result)

0.008596786874816291

In [ ]:
#0.008596786874816291